In [47]:
import pandas as pd

In [61]:
data = pd.read_csv('../Data/churn_analysis.csv')

In [62]:
data.head()

,Unnamed: 0,state,account_length,area_code,intl_plan,vmail_plan,vmail_message,day_mins,day_calls,day_charge,...,night_mins,night_calls,night_charge,intl_mins,intl_calls,intl_charge,custserv_calls,treatment,mes_estim,churn
0,0,KS,128,415,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,1,0.65,False.
1,1,OH,107,415,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,0,0.55,False.
2,2,NJ,137,415,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,0,0.72,False.
3,3,OH,84,408,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,1,0.28,False.
4,4,OK,75,415,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,2,0.45,False.

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 23 columns):
Unnamed: 0        3333 non-null int64
state             3333 non-null object
account_length    3333 non-null int64
area_code         3333 non-null int64
intl_plan         3333 non-null object
vmail_plan        3333 non-null object
vmail_message     3333 non-null int64
day_mins          3333 non-null float64
day_calls         3333 non-null int64
day_charge        3333 non-null float64
eve_mins          3333 non-null float64
eve_calls         3333 non-null int64
eve_charge        3333 non-null float64
night_mins        3333 non-null float64
night_calls       3333 non-null int64
night_charge      3333 non-null float64
intl_mins         3333 non-null float64
intl_calls        3333 non-null int64
intl_charge       3333 non-null float64
custserv_calls    3333 non-null int64
treatment         3333 non-null int64
mes_estim         3333 non-null float64
churn             3333 non-null object
dtypes: float64(9), int64(10), object(4)
memory usage: 599.0+ KB

In [64]:
data.churn.unique()

array(['False.', 'True.'], dtype=object)

In [65]:
data_treat = data.loc[data.treatment==1]

### 1

In [66]:
data.churn = data.churn.map({"False.": 0, "True.": 1})

In [67]:
data.churn.unique()

array([0, 1], dtype=int64)

In [95]:
from scipy.stats import chi2_contingency
import numpy as np
states = data_treat.state.unique()
ps = []
for i in np.arange(len(states)):
    for j in np.arange(i+1, len(states)):
        state1 = states[i]
        state2 = states[j]
        table = pd.pivot_table(data_treat.loc[data_treat.state.isin((state1, state2)), ['state', 'churn']], index=['state'], columns=['churn'], aggfunc=len)
        ps.append(chi2_contingency(table, correction=False)[1])

In [96]:
np.sum(np.array(ps)<0.05)

23

In [110]:
ps = np.array(ps)
ps[~np.isnan(ps)].mean()

0.51681310300282779

### 3

In [111]:
from scipy.stats import chi2_contingency
import numpy as np
states = data_treat.state.unique()
ps = []
for i in np.arange(len(states)):
    for j in np.arange(i+1, len(states)):
        state1 = states[i]
        state2 = states[j]
        table = pd.pivot_table(data_treat.loc[data_treat.state.isin((state1, state2)), ['state', 'churn']], index=['state'], columns=['churn'], aggfunc=len)
        ps.append(chi2_contingency(table, correction=True)[1])
np.sum(np.array(ps)<0.05)
ps = np.array(ps)
ps[~np.isnan(ps)].mean()

0.67542720600628747

### 4

In [115]:
from scipy.stats import fisher_exact
import numpy as np
states = data_treat.state.unique()
psf = []
for i in np.arange(len(states)):
    for j in np.arange(i+1, len(states)):
        state1 = states[i]
        state2 = states[j]
        table = pd.pivot_table(data_treat.loc[data_treat.state.isin((state1, state2)), ['state', 'churn']], index=['state'], columns=['churn'], aggfunc=len,fill_value=0)
        #ps.append(chi2_contingency(table, correction=True)[1])
        psf.append(fisher_exact(table)[1])
np.sum(np.array(psf)<0.05)
psf = np.array(psf)
psf[~np.isnan(psf)].mean()

0.64833830600206699

### 5

In [ ]:
from scipy.stats import cor